[Unit]
Description=Sqlite demo web-service backend.

[Service]
Type=simple
WorkingDirectory=/opt/sqlite-demo
ExecStart=/opt/sqlite-demo/sqlite-demo
ExecStop=kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
